<form action="/admin" method="post">
  <h3>Sign In</h3>
  <label for="email">email</label>
  <input type="text" name="email" placeholder="johnsnow@myemail.com" />
  <label for="password">password</label>
  <input type="password" name="password" />

  <input type="submit" value="Login" class="btn" />
</form>

todo

<form action="/register" method="post">
  <h3>Register</h3>
  <label for="email">email</label>
  <input
    type="email"
    required
    name="email"
    placeholder="johnsnow@myemail.com"
  />

  <label for="password">password</label>
  <input type="password" required name="password" />

  <label for="confPassword">confirm password</label>
  <input type="password" name="confPassword" />

  <input type="submit" value="Register" class="btn" />
</form>
