<div class="search-bar">
  <div class="container">
    <form action="/search" class="search--form" role="search" method="POST">
      <input
        type="search"
        aria-label="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Enter search term..."
      />
    </form>
    <button id="close-search">Close</button>
  </div>
</div>
