<article class="article">
  <h1 class="article--heading"><%= data.title %></h1>
  <p class="article--content"><%= data.content %></p>
  <img class="article--img" src="/assets/img/webUpload/<%= data.imageName %>" />
</article>
